{% extends './index.html' %}

{% block title %}consultar api{% endblock %}

{% block body %}
    <h1>pues ajam</h1> 
    {% if gateway_data %}
    <!-- Contenido para Gateway -->
        <div class="container mt-5">
            <h1 class="text-center mb-4">API</h1>
            <form action="{% url 'consultar_api' %}" method="post" class="mb-3">
                <div class="input-group mb-3">
                    <button class="btn btn-primary" type="submit">Consultar</button>
                </div>
            </form>
            <h1>Información API</h1>
            <div class="card">
                <h2 class="card-header">Resultados:</h2>
                <div class="card-body">
                    {% for key, value in gateway_data.items %}
                        <p><strong>{{ key }}:</strong> {{ value }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    {% endif %}

{% endblock %}